body {
  font-family: arial;
}

.video-grid {
  display: grid;
  grid-template-columns: 303px 303px 303px 303px;
  column-gap: 15px;
  row-gap: 40px;
  padding: 20px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 303px 303px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 303px 303px 303px;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 303px 303px 303px 303px;
  }
}


.thumbnail-1 {
  width: 303px;
}

.thumbnail-container {
  margin-bottom: 8px;
  position: relative;
}

.time {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5px;
  margin-bottom: 9px;
  background-color: black;
  color: white;
  padding: 3px 6px 3px 6px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0.9;
}

.video-card {
  display: inline-block;
  width: 303px;
}

.video-info {
  display: flex;
  margin-top: 0px;
  width: 247px;
}

.info-details {
  width: 247px;
  margin-left: 11px;
}

.profile-pic {
  width: 40px;
  border-radius: 20px;
}

.video-title {
  width: 240px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 13px;
}

.channel-name {
  margin-top: 0px;
  margin-bottom: 4px;
  color: gray;
  font-size: 12px;
}

.video-views {
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
  font-size: 12px;
}